In [ ]:
'''Задание 1: Основы программирования на Python

Описание: Напишите функцию, которая принимает список чисел и возвращает список квадратов этих чисел.''' 

def squaring(data):
    '''Возведение чисел в квадрат'''
    for i in range(len(data)):
        my_list[i] *= 2
    return my_list

my_list = [1.1, 1000.7, 3, 3, 13, 3, 6, 6, 7, 9, 9, 8, 9, 10, 10, 11, 12, 3, 14, 14, 14, 15, 15, 500]

print(squaring(my_list))

In [ ]:
'''Задание 2: Структуры данных в Python

Описание : Напишите функцию, которая принимает строку и возвращает словарь,
где ключами являются символы строки, а значениями – количество их вхождений встроку'''

from collections import Counter

def counter_symbol(text):
    list = [i for i in text if i]  # Достанем в список все символы строки (включая перенос строки)
    return Counter(list)  # Считаем количество вхождений каждого символа

string = '''высокоуровневый язык программирования общего назначения с динамической строгой
            типизацией и автоматическим управлением памятью...'''

print(counter_symbol(string))

In [ ]:
'''Задание 3: Библиотеки

Описание: Используйте встроенный датасет titanic из библиотеки seaborn и выполните следующие задания:

1. Выведите первые 5 строк DataFrame.
2. Замените все пропущенные значения в столбце age средним значением по этому столбцу.
3. Создайте новый столбец age_category, который будет содержать категориальные 
значения "Child", "Adult" и "Senior" на основе возраста (age)'''

import seaborn as sns

data = sns.load_dataset("titanic")
data.head()  # Первые 5 строк DataFrame

In [ ]:
data.isna().sum()  # Смотрим, сколько данных пропущенно

In [ ]:
mean = data['age'].mean()
data['age'] = data['age'].fillna(mean)  # Заменяем все пропуски средним значением по этому столбцу

In [ ]:
data.isna().sum()  # Проверяем, что все недостающие данные в столбце заменены

In [ ]:
'''Создаём новый столбец age_category, который будет содержать категориальные
значения "Child", "Adult" и "Senior" на основе возраста (age)'''

data['age_category'] = data['age'].apply(lambda x: 'Child' if x < 18 else ('Adult' if 18 <= x < 50 else 'Senior'))
data.head(20)  # Смотрим первые 20 строк, чтобы увидеть результат

In [ ]:
'''Задание 4: Манипуляции и анализ данных

Описание: Продолжаем работу с датасетом titanic. Используя Pandas и датасет titanic из библиотеки seaborn,
выполните следующие задания:
1. Выполните группировку данных по столбцу class и вычислите среднее значение для каждого класса по столбцу fare.
2. Постройте график распределения данных по столбцу age.
3. Постройте тепловую карту корреляционной матрицы числовых переменных.'''

import seaborn as sns

data = sns.load_dataset("titanic")
data.head(25)

In [ ]:
'''Продолжение следует...'''